* {
  background-color: #FFF4E0;
  color: #393E46;
  font-family: "TeluguSangamMN";
  font-size: 18px;
  margin: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(5em, auto);
  grid-template-areas:
  ". . header . ."
  ". main main main sidebar ."
  ". . footer footer . .";
}

.box {
  border: #F8B500 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: main;
}

.title {
  font-family: "Noteworthy-Bold";
  font-size: 24px;
}

.user {
  grid-area: header;
  display: center;
}

.chat {
  grid-area: sidebar;
  position: relative;
}

.navigation {
  grid-area: footer;
}

.navigation ul {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 10em;
  list-style-type: none
}

.lists ul {
  list-style-type: none;
}

a:hover {
  color: #00ADB5;
}

a:active {
  color: #FC3C3C;
}